<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="2">
    <test name="PositiveCases">
        <classes>
            <class name="triangle.PositiveTriangleTests"/>
        </classes>
    </test>
    <test name="NegativeCases">
        <classes>
            <class name="triangle.NegativeTriangleTests"/>
        </classes>
    </test>
</suite>
